<div id="color-cards-container">
    <div class="color-card-container">
        <div class="color-card-img">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1606834257/degustar/images/victoria-shes-IUk1S6n2s0o-unsplash_uj9a7b.jpg" alt="Los mejores panes" class="color-card--image">
        </div>
        <div class="color-card-content green-card">
            <h4 class="color-card-font color-card--header">Los mejores panes aquí</h4>
            <div class="color-card-btn-box">
                <a class="btn-color-card" href="t/productos/panes">COMPRAR</a> 
            </div>
        </div>
    </div>
    <div class="color-card-container">
        <div class="color-card-img">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1606834257/degustar/images/aliona-gumeniuk-jeAjT87nbjM-unsplash_l41mvh.jpg" alt="Los mejores quesos" class="color-card--image">
        </div>
        <div class="color-card-content orange-card">
            <h4 class="color-card-font color-card--header">Los mejores quesos aquí</h4>
            <div class="color-card-btn-box">
                <a class="btn-color-card" href="t/productos/quesos">COMPRAR</a> 
            </div>
        </div>
    </div>
</div>