<div class="landing-slider">
    <div class="big-container"> 
        <div class="slider-title-box">
            <div class="responsive-white-box">
                <div class="slider-h-box">
                    <h2 class="slider-h-font">Encuentra los mejores productos gourmet</h2>
                </div>
                <p class="slider-p-font">Trabajamos con productos de elaboración artesanal, colaborando con productores locales para traer los mejores sabores a tu mesa.</p>
                <div class="slider-btn-box">
                    <a href="/t/productos" class= "btn-slider">Nuestra tienda</a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-filter">
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
</div>