<div class="landing-separate mt-5 mb-5"></div>
<div class="main-container">
    <div class="services-section">
        <div class="responsive-row">
            <div class="service-item">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1607331729/degustar/components/Free_Shipping_qknyrc.svg" alt="shipment icon">
                <p>Envíos todos los días</p>
            </div>
            <div class="service-item">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1607331729/degustar/components/Payments_deupae.svg" alt="payment icon">
                <p>Pagos en tarjeta</p>
            </div>
        </div>
        <div class="responsive-row">
            <div class="service-item">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1607331729/degustar/components/Money_tlg7t9.svg" alt="price icon">
                <p>Los mejores precios</p>
            </div>
            <div class="service-item">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1607356013/degustar/components/Component_496_1_gqagi2.svg" alt="eco icon">
                <p>Productos ecológicos</p>
            </div>
        </div>
    </div>
</div>