<% @body_id = 'home' %>

<%= render 'spree/shared/own_slider' %>


<%= render 'spree/shared/own_banners' %>


<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3 mt-5 mb-5"></div>

<%= render 'spree/shared/services' %>


<div data-product-carousel data-product-carousel-taxon-id='trending' class="mt-5 mb-5"></div>


<%= render 'spree/shared/newsletter' %>